<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshua.shew.archive.wayback</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1B627960-C361-47FE-88C1-675FEE8483B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F6C49E-E913-4A37-8A83-D11E04602B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>227019DF-C759-4C80-AEBA-0558E06EE684</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3991EE-C323-4523-A620-293D8C3A3A86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22AC61CE-E591-487B-A9BD-7ADAA27CC861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7BA91D5-D57F-4B9E-BB07-1C74C89A55E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D81E20B-A06F-4AFF-90EB-EA0E947690A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36DED3BF-C633-4020-B2DE-2A0D2C5E2820</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FAEE617-C870-4E2D-A848-5B18911A934B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>227019DF-C759-4C80-AEBA-0558E06EE684</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36DED3BF-C633-4020-B2DE-2A0D2C5E2820</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9D03D6C-9737-416D-8FAA-F2491FD9CE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D3991EE-C323-4523-A620-293D8C3A3A86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FE8BDEA-938A-492C-989A-82BF4AB954F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FE8BDEA-938A-492C-989A-82BF4AB954F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4B4440A-F759-42E3-8065-648F64775EB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>682FAD90-F240-4E5B-B3C6-45F0E90956B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22AC61CE-E591-487B-A9BD-7ADAA27CC861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>748CC52B-15A6-4574-A62E-549721FAAD5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>773C3EB7-960B-4593-9376-F24378FFE7C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FFD1A95-A8C2-4B33-8CA8-37F3A60362C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>682FAD90-F240-4E5B-B3C6-45F0E90956B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A96C85AA-874A-4A34-A5E2-13042F54F8CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>748CC52B-15A6-4574-A62E-549721FAAD5D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Markdown output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>773C3EB7-960B-4593-9376-F24378FFE7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FFD1A95-A8C2-4B33-8CA8-37F3A60362C7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7BA91D5-D57F-4B9E-BB07-1C74C89A55E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B627960-C361-47FE-88C1-675FEE8483B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>67B12539-267F-44A7-9B8B-216818287F22</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E85DC21B-ADAB-48EA-A3D2-734B2A5ECD92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DAA141-A271-483A-BB6A-38A16A6D5883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D81E20B-A06F-4AFF-90EB-EA0E947690A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6B1FFAC-FD88-4133-96AB-A84443FC0EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>748CC52B-15A6-4574-A62E-549721FAAD5D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Markdown output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>773C3EB7-960B-4593-9376-F24378FFE7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FFD1A95-A8C2-4B33-8CA8-37F3A60362C7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6F5964A-3A0C-4C8B-8037-8B684EF5CB07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D81E20B-A06F-4AFF-90EB-EA0E947690A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E85DC21B-ADAB-48EA-A3D2-734B2A5ECD92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FAEE617-C870-4E2D-A848-5B18911A934B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B4440A-F759-42E3-8065-648F64775EB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DAA141-A271-483A-BB6A-38A16A6D5883</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>03EEDB4F-668E-4777-95A8-6C84F57702E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6F5964A-3A0C-4C8B-8037-8B684EF5CB07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joshua Shew</string>
	<key>description</key>
	<string>Archives a webpage using the Wayback Machine</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Archive Page</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78F6C49E-E913-4A37-8A83-D11E04602B0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:save_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1B627960-C361-47FE-88C1-675FEE8483B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Archive Website</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>D6B1FFAC-FD88-4133-96AB-A84443FC0EBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>use_markdown</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>748CC52B-15A6-4574-A62E-549721FAAD5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/curl -I "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FAEE617-C870-4E2D-A848-5B18911A934B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F9D03D6C-9737-416D-8FAA-F2491FD9CE23</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const query = argv[0];
  const locationMatch = query.match(/^location:\s*(.+)$/m);
  return locationMatch ? locationMatch[1].trim() : "error";
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>227019DF-C759-4C80-AEBA-0558E06EE684</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>output</key>
					<string>[archive]({var:web_url})</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0DAA141-A271-483A-BB6A-38A16A6D5883</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_wayback}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Use website</string>
						<key>uid</key>
						<string>67B12539-267F-44A7-9B8B-216818287F22</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Save in background</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B7BA91D5-D57F-4B9E-BB07-1C74C89A55E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:use_markdown}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Use markdown</string>
						<key>uid</key>
						<string>03EEDB4F-668E-4777-95A8-6C84F57702E8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Just link</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4B4440A-F759-42E3-8065-648F64775EB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>4D3991EE-C323-4523-A620-293D8C3A3A86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:output}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36DED3BF-C633-4020-B2DE-2A0D2C5E2820</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>original_url</key>
					<string>{query}</string>
					<key>save_url</key>
					<string>https://web.archive.org/save/{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>22AC61CE-E591-487B-A9BD-7ADAA27CC861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>682FAD90-F240-4E5B-B3C6-45F0E90956B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:save_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E85DC21B-ADAB-48EA-A3D2-734B2A5ECD92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2D81E20B-A06F-4AFF-90EB-EA0E947690A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>web_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FE8BDEA-938A-492C-989A-82BF4AB954F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>773C3EB7-960B-4593-9376-F24378FFE7C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>output</key>
					<string>{var:web_url}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D6F5964A-3A0C-4C8B-8037-8B684EF5CB07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>way</string>
				<key>subtext</key>
				<string>Saves a snapshot on the Wayback Machine</string>
				<key>text</key>
				<string>Archive Website</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A96C85AA-874A-4A34-A5E2-13042F54F8CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>open_wayback</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7FFD1A95-A8C2-4B33-8CA8-37F3A60362C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Archives a webpage using the Wayback Machine and saves the URL to your clipboard</string>
	<key>uidata</key>
	<dict>
		<key>1B627960-C361-47FE-88C1-675FEE8483B4</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>227019DF-C759-4C80-AEBA-0558E06EE684</key>
		<dict>
			<key>note</key>
			<string>Parse output</string>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>22AC61CE-E591-487B-A9BD-7ADAA27CC861</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2D81E20B-A06F-4AFF-90EB-EA0E947690A6</key>
		<dict>
			<key>xpos</key>
			<real>1475</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2FAEE617-C870-4E2D-A848-5B18911A934B</key>
		<dict>
			<key>note</key>
			<string>Make "save" request</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>36DED3BF-C633-4020-B2DE-2A0D2C5E2820</key>
		<dict>
			<key>xpos</key>
			<real>1540</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4D3991EE-C323-4523-A620-293D8C3A3A86</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4FE8BDEA-938A-492C-989A-82BF4AB954F8</key>
		<dict>
			<key>xpos</key>
			<real>1210</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>682FAD90-F240-4E5B-B3C6-45F0E90956B2</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>748CC52B-15A6-4574-A62E-549721FAAD5D</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>773C3EB7-960B-4593-9376-F24378FFE7C7</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>78F6C49E-E913-4A37-8A83-D11E04602B0B</key>
		<dict>
			<key>note</key>
			<string>Make "save" request with the website</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>7FFD1A95-A8C2-4B33-8CA8-37F3A60362C7</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>91D2AB26-218F-4AEB-B5FC-7ECEF6B35B0B</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>A96C85AA-874A-4A34-A5E2-13042F54F8CB</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B7BA91D5-D57F-4B9E-BB07-1C74C89A55E5</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>D0DAA141-A271-483A-BB6A-38A16A6D5883</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D6B1FFAC-FD88-4133-96AB-A84443FC0EBA</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D6F5964A-3A0C-4C8B-8037-8B684EF5CB07</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>E85DC21B-ADAB-48EA-A3D2-734B2A5ECD92</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>F4B4440A-F759-42E3-8065-648F64775EB3</key>
		<dict>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>F9D03D6C-9737-416D-8FAA-F2491FD9CE23</key>
		<dict>
			<key>xpos</key>
			<real>1610</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/Jython1415/alfred-archive-page</string>
</dict>
</plist>
