<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshua.shew.archive.page</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00525244-6E05-4E3A-816B-13444679A564</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32B69491-AAE7-4CE2-9CA7-D4089BAD2818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0436A082-2905-4151-B295-85E7AB3DB36E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0686D024-C9E7-458C-8DE8-51341DB82E2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF16C46B-74A0-462A-A490-A9F230F7DD97</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Markdown output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DEC5ED9F-CA79-4BCD-AE4F-50F8DF8608E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1283D3AB-7039-46A2-872D-F79432E4A742</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07FDD1A9-E4D8-4D04-A708-F88E8A93B1E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8F40A67-8A87-464F-A6CB-630D6C0FFF03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1283D3AB-7039-46A2-872D-F79432E4A742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4126405F-D560-410A-9188-8AEA623C7B69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28798E41-F413-4714-885B-AED3EAA72460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE9CC0C4-98C1-4F76-BFC5-E4A327EAC219</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BC44B43-52D6-4FDF-AC47-6FB7A4BDE083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7E4D48D-9953-4B87-826A-9EE0CF543A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>03EEDB4F-668E-4777-95A8-6C84F57702E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00525244-6E05-4E3A-816B-13444679A564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399242CD-3558-40F0-8A85-34BA6165551C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BC44B43-52D6-4FDF-AC47-6FB7A4BDE083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DBFCECE-98BF-46F8-B734-C94784EBBA35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28798E41-F413-4714-885B-AED3EAA72460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F05845B-318D-41F8-B246-39DE5C5120B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC2FC25D-B5AA-4ECD-9E46-FE25042532DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>46B64247-5310-420C-9235-EA7D98610AEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4126405F-D560-410A-9188-8AEA623C7B69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DBFCECE-98BF-46F8-B734-C94784EBBA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46B64247-5310-420C-9235-EA7D98610AEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A494B119-203B-4344-B0ED-F93B647E8410</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47D58965-DF35-4D57-82A3-4D4F2B2BB109</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07FDD1A9-E4D8-4D04-A708-F88E8A93B1E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6602BF9F-E7FF-47B9-8726-765FC9C4D75D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399242CD-3558-40F0-8A85-34BA6165551C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>93B3C1FE-21FB-4864-8F91-4F85CAB6B474</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>692E59B2-C927-4523-8A93-4A2F5EAFE4EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>48EF97B9-59FB-4F9E-97CC-C7ED1CEEAE55</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEEA4683-BAD9-4A31-B31B-7A391CDF74DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A494B119-203B-4344-B0ED-F93B647E8410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8006F702-04F1-4597-9853-C5838707F076</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE249444-CD57-4699-9F63-54EFC0BDDA87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6602BF9F-E7FF-47B9-8726-765FC9C4D75D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF16C46B-74A0-462A-A490-A9F230F7DD97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4126405F-D560-410A-9188-8AEA623C7B69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8F40A67-8A87-464F-A6CB-630D6C0FFF03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84731D13-8E91-4FA8-BA9A-5A0FEA8ED416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C11C4571-75F4-40E1-BB41-D2E058002538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF16C46B-74A0-462A-A490-A9F230F7DD97</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Markdown output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DEC5ED9F-CA79-4BCD-AE4F-50F8DF8608E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1283D3AB-7039-46A2-872D-F79432E4A742</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE9CC0C4-98C1-4F76-BFC5-E4A327EAC219</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B406C83D-84DB-45C2-93FE-E139A2AB2F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>67B12539-267F-44A7-9B8B-216818287F22</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F05845B-318D-41F8-B246-39DE5C5120B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D393281-9E09-41A4-9B27-4614DC3B096D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEC5ED9F-CA79-4BCD-AE4F-50F8DF8608E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4126405F-D560-410A-9188-8AEA623C7B69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47D58965-DF35-4D57-82A3-4D4F2B2BB109</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7E4D48D-9953-4B87-826A-9EE0CF543A49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00525244-6E05-4E3A-816B-13444679A564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joshua Shew</string>
	<key>description</key>
	<string>Archives a webpage using the Wayback Machine</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Archive Page</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>32B69491-AAE7-4CE2-9CA7-D4089BAD2818</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Archive Website</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C11C4571-75F4-40E1-BB41-D2E058002538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:save_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B406C83D-84DB-45C2-93FE-E139A2AB2F40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>use_markdown</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF16C46B-74A0-462A-A490-A9F230F7DD97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>HTTP Response Code: {var:parsed_output_1}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8006F702-04F1-4597-9853-C5838707F076</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[archive]({query})</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E7E4D48D-9953-4B87-826A-9EE0CF543A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:use_markdown}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Use markdown</string>
						<key>uid</key>
						<string>03EEDB4F-668E-4777-95A8-6C84F57702E8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Just link</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2BC44B43-52D6-4FDF-AC47-6FB7A4BDE083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>00525244-6E05-4E3A-816B-13444679A564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:parsed_output_2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>399242CD-3558-40F0-8A85-34BA6165551C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Full response: {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>DC2FC25D-B5AA-4ECD-9E46-FE25042532DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_wayback}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Use website</string>
						<key>uid</key>
						<string>67B12539-267F-44A7-9B8B-216818287F22</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Save in background</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DE9CC0C4-98C1-4F76-BFC5-E4A327EAC219</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Location: {var:parsed_output_2}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>AE249444-CD57-4699-9F63-54EFC0BDDA87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>3DBFCECE-98BF-46F8-B734-C94784EBBA35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://web.archive.org/save/{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>28798E41-F413-4714-885B-AED3EAA72460</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DEC5ED9F-CA79-4BCD-AE4F-50F8DF8608E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4126405F-D560-410A-9188-8AEA623C7B69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>The archived page has been copied to your clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0436A082-2905-4151-B295-85E7AB3DB36E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>way</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Saves a snapshot on the Wayback Machine</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0686D024-C9E7-458C-8DE8-51341DB82E2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const query = argv[0];

  const responseCodeMatch = query.match(/^HTTP\/\d+ (\d+)/m);
  const responseCode = responseCodeMatch ? responseCodeMatch[1] : "error";

  const locationMatch = query.match(/^location:\s*(.+)$/m);
  const location = locationMatch ? locationMatch[1].trim() : "error";

  // Combine response code and location value with delimiter
  return `${responseCode} | ${location}`;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46B64247-5310-420C-9235-EA7D98610AEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/curl -I "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F05845B-318D-41F8-B246-39DE5C5120B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:parsed_output_1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>302</string>
						<key>outputlabel</key>
						<string>HTTP 302 (Found)</string>
						<key>uid</key>
						<string>93B3C1FE-21FB-4864-8F91-4F85CAB6B474</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:parsed_output_1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>523</string>
						<key>outputlabel</key>
						<string>HTTP 523 (Unreachable)</string>
						<key>uid</key>
						<string>48EF97B9-59FB-4F9E-97CC-C7ED1CEEAE55</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6602BF9F-E7FF-47B9-8726-765FC9C4D75D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_path="$HOME/Library/Application Support/Alfred/Workflow Data/com.joshua.shew.archive.page/execution_count.txt"

execution_count=0

if [[ -f "$file_path" ]]; then
  first_line=$(head -n 1 "$file_path")
  if [[ "$first_line" =~ ^[0-9]+$ ]]; then
    execution_count=$first_line
  fi
fi

((execution_count++))

echo $execution_count &gt; "$file_path"

echo $execution_count</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47D58965-DF35-4D57-82A3-4D4F2B2BB109</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open_wayback</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1283D3AB-7039-46A2-872D-F79432E4A742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> | </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>parsed_output_</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>A494B119-203B-4344-B0ED-F93B647E8410</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>07FDD1A9-E4D8-4D04-A708-F88E8A93B1E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>execution_count</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B8F40A67-8A87-464F-A6CB-630D6C0FFF03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Execution count: {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>84731D13-8E91-4FA8-BA9A-5A0FEA8ED416</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>The page could not be reached for archiving</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>692E59B2-C927-4523-8A93-4A2F5EAFE4EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Archive request processing...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0D393281-9E09-41A4-9B27-4614DC3B096D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Unknown error occurred while archiving: {var:parsed_output_1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AEEA4683-BAD9-4A31-B31B-7A391CDF74DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See the GitHub page for usage instructions: https://github.com/Jython1415/alfred-archive-page</string>
	<key>uidata</key>
	<dict>
		<key>00525244-6E05-4E3A-816B-13444679A564</key>
		<dict>
			<key>xpos</key>
			<real>1640</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>0436A082-2905-4151-B295-85E7AB3DB36E</key>
		<dict>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>0686D024-C9E7-458C-8DE8-51341DB82E2E</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>07FDD1A9-E4D8-4D04-A708-F88E8A93B1E5</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>0D393281-9E09-41A4-9B27-4614DC3B096D</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>1283D3AB-7039-46A2-872D-F79432E4A742</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>28798E41-F413-4714-885B-AED3EAA72460</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>2BC44B43-52D6-4FDF-AC47-6FB7A4BDE083</key>
		<dict>
			<key>xpos</key>
			<real>1450</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>32B69491-AAE7-4CE2-9CA7-D4089BAD2818</key>
		<dict>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>399242CD-3558-40F0-8A85-34BA6165551C</key>
		<dict>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3DBFCECE-98BF-46F8-B734-C94784EBBA35</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>3F05845B-318D-41F8-B246-39DE5C5120B1</key>
		<dict>
			<key>note</key>
			<string>Make "save" request</string>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>4126405F-D560-410A-9188-8AEA623C7B69</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>46B64247-5310-420C-9235-EA7D98610AEF</key>
		<dict>
			<key>note</key>
			<string>Parse output</string>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>47D58965-DF35-4D57-82A3-4D4F2B2BB109</key>
		<dict>
			<key>note</key>
			<string>Update execution count</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>6602BF9F-E7FF-47B9-8726-765FC9C4D75D</key>
		<dict>
			<key>xpos</key>
			<real>1205</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>692E59B2-C927-4523-8A93-4A2F5EAFE4EB</key>
		<dict>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>8006F702-04F1-4597-9853-C5838707F076</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>84731D13-8E91-4FA8-BA9A-5A0FEA8ED416</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>A494B119-203B-4344-B0ED-F93B647E8410</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>AE249444-CD57-4699-9F63-54EFC0BDDA87</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>AEEA4683-BAD9-4A31-B31B-7A391CDF74DC</key>
		<dict>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>AF16C46B-74A0-462A-A490-A9F230F7DD97</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>B406C83D-84DB-45C2-93FE-E139A2AB2F40</key>
		<dict>
			<key>note</key>
			<string>Make "save" request with the website</string>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>B8F40A67-8A87-464F-A6CB-630D6C0FFF03</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C11C4571-75F4-40E1-BB41-D2E058002538</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>DC2FC25D-B5AA-4ECD-9E46-FE25042532DB</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>DE9CC0C4-98C1-4F76-BFC5-E4A327EAC219</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>DEC5ED9F-CA79-4BCD-AE4F-50F8DF8608E9</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>E7E4D48D-9953-4B87-826A-9EE0CF543A49</key>
		<dict>
			<key>xpos</key>
			<real>1570</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.4</string>
	<key>webaddress</key>
	<string>https://github.com/Jython1415/alfred-archive-page</string>
</dict>
</plist>
